.title{
    text-align: center;
    font-weight: bold;
    color: rgb(85, 0, 0);
    font-size: 18px;
}
body{
    background-image: url("./anh/background.png");
    background-size: cover;
}
/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
} */

/* td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(250, 189, 99);
}
table{
    margin: auto;
}
select{
    width: 130px;
    height: 30px;
} 
.chon{
    text-align: center;
    width: 500px;
    height: 100px;
    margin: auto;
}*/

.form{
    width: 500px;
    height: 380px;
    border: 1px solid orange;
    margin:auto;
    position:absolute;
    top:0; left:0; right:0; bottom:0;
}
.form1{
    margin-top: 20px;
    margin-left: 50px;
}
input{
    margin-left: 30px;
}
.date{
    margin-left: 13px;
}
.sdt{
    margin-left: 57px;
}
.luong{ 
    margin-left: 8px;
}
.text{
    font-size: 18px;
}
input{
    width: 300px;
    height: 20px;
}
.quyen{
    text-align: center;
    position: relative;
    top: 120px;
}
.pass{
    margin-left: 16px;
}
button{
    position: relative;
    left: 280px;
    background-color: rgb(255, 186, 59);
    width: 100px;
    height: 30px;
    border: none;
}
button:hover{
    cursor: pointer;
    opacity: 0.9;
}